body {
    background-color: rgb(255, 255, 165);
}

.image {
<<<<<<< Updated upstream
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
    display: block;  
    margin: 0 auto;   
    text-align: center; 
}
=======
        border: 5px solid green;
        border-radius: 10px;
        height: 400px;
        display: block; 
        margin: 0 auto; 
        text-align: center; 
    }

h1, h2, p {
        display: flex;
        
       
      flex-direction: column;
        
       
      justify-content: center;
        
       
      align-items: center;
>>>>>>> Stashed changes

h1, h2, p 
    {display: flex;
    flex-direction: column;       
    justify-content: center;
    align-items: center;}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}