body {
    background-color: rgb(255, 255, 165);
}

.image {
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
    display: block;  
    margin: 0 auto;   
    text-align: center; 
=======
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
    display: block; 
    margin: 0 auto; 
    text-align: center; 
}

h1, h2, p 
{
display: flex;      
flex-direction: column;     
justify-content: center;
align-items: center;
>>>>>>> Stashed changes
}
=======
        border: 5px solid green;
        border-radius: 10px;
        height: 400px;
        display: block; 
        margin: 0 auto; 
        text-align: center; 
    }

h1, h2, p {
        display: flex;
        
       
      flex-direction: column;
        
       
      justify-content: center;
        
       
      align-items: center;
>>>>>>> Stashed changes

h1, h2, p 
    {display: flex;
    flex-direction: column;       
    justify-content: center;
    align-items: center;}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-content p, .footer-content a {
    margin: 0;
    padding: 5px;
  }
  .name {
    transition: color 0.3s; /* Efecto de transición para el cambio de color */
  }
  
  .name:hover {
    color: red; /* Cambiar el color cuando el mouse está encima */
  }